{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <title>{% block title %}Sistema modelo de gestão de estoque{% endblock %}</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

    <div class="navbar-fixed teal lighten-2">
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Estoque</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {% block menu %}
                {% endblock %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>
              <ul class="side-nav" id="mobile-demo">
                {% block menu_mobile %}
                {% endblock %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
    </div>


    <div class="container">
        {% block main%}
        {% endblock %}

        {% block floating_menu %}
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red">
                  <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                  {% block extra_button %}
                  {% endblock %}
                  <li><a href="{% url 'url_core_products' %}"
                         class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                  <li><a href="{% url 'url_core_entrance' %}"
                         class="btn-floating green"><i class="material-icons">publish</i></a></li>
                  <li><a href="/reports"
                         class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                  <li><a href="/sales"
                         class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
            </div>
        {% endblock %}
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type='text/javascript'>
            $(".button-collapse").sideNav();
            $(document).ready(function() {
                $('select').material_select();
            });
    </script>
</body>
</html>
