{% extends 'core/base.html' %}
{% load static %}

{% block main %}


<div class="row">
      <div class="col s6">
          <a href="{% url 'url_core_products' %}">
             <img src="{% static 'img/products.png' %}" class="appicon">
             <h5>Cadastro de produtos</h5>
          </a>
      </div>

    <div class="col s6">
        <a href="{% url 'url_core_entrance' %}">
            <img src="{% static 'img/product_entrance.png' %}" class="appicon">
            <h5>Entrada de produtos</h5>
        </a>
    </div>
</div>


<div class="row">
      <div class="col s6">
          <a href="{% url 'url_core_sales' %}">
            <img src="{% static 'img/sales.png' %}" class="appicon">
            <h5>Vendas</h5>
          </a>
      </div>
      <div class="col s6">
          <a href="">
            <img src="{% static 'img/report.png' %}" class="appicon">
            <h5>Relatórios</h5>
           </a>
      </div>
</div>



{% endblock %}

{% include 'core/side_button.html' %}