<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Estoque</h5>
                <p class="grey-text text-lighten-4">Sistema modelo de gestão de estoque baseado em Python e Django</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Menu</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.python.org" target="_blank">Python</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://djangoproject.com" target="_blank">Django</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blank">Materializecss</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://github.com/gpzim98/estoque" target="_blank">Repositório</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Faculdades Santo Agostinho
            <a class="grey-text text-lighten-4 right"
               href="http://github.com/gpzim98/estoque" target="_blank">Repositório</a>
        </div>
    </div>
</footer>
