{% extends 'core/base.html' %}

{% block main %}

<div class="wow fadeInUp content-card animated" style="visibility: visible; animation-name: fadeInUp;">
    <table>
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="barcode">Código de barras</th>
                <th data-field="description">Descrição</th>
                <th data-field="price">Preço</th>
                <th data-field="edit">Editar</th>
            </tr>
        </thead>

    <tbody>
    {% for product in product_list %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.bar_code}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
                <a href="{% url 'url_core_product_update' product.id %}">
                      <i class="material-icons">edit</i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}

{% block extra_button %}
<li>
    <a href="{% url 'url_core_products_create' %}"
        class="btn-floating red darken-1">
        <i class="material-icons">format_quote</i>
    </a>
</li>
{% endblock %}

