{% extends 'core/base.html' %}

{% block main %}

<h1>Relatórios</h1>
<div class="row">
    <form class="col s12" id="filter" method="POST">
        {% csrf_token %}
        <label for="month">Filtra pelo mês</label>
        <select name="selected_month" form="filter" id="month">
            <option value="1" >Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
        <br>
        <br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Filtrar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<div class="row">

    <div class="col s4">
        <div class="chip">
            Vendas: {{total_sales}}
        </div>
    </div>

    <div class="col s4">
          <div class="chip">
            Entrada de notas: {{total_entrances}}
        </div>
    </div>
</div>

{% endblock %}

