{% extends 'core/base.html' %}
{% load static %}

{% block paralax %}
<main>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/background.jpg' %}">
        </div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header">Estoque</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Sistema modelo de gestão de estoque baseado em Python e Django
            </p>
            <a href="{% url 'login' %}" class="btn waves-effect waves-light" >Acessar</a>
        </button>
        </div>
    </div>
        <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/background2.jpg' %}">
        </div>
    </div>
</main>
{% endblock %}

{% block main %}
{% endblock %}

{% block floating_menu %}
{% endblock %}