{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <title>{% block title %}Sistema modelo de gestão de estoque{% endblock %}</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<main>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/background.jpg' %}">
        </div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header">Estoque</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Sistema modelo de gestão de estoque baseado em Python e Django
            </p>
            <a href="{% url 'login' %}" class="btn waves-effect waves-light" >Acessar</a>
        </button>
        </div>
    </div>
        <div class="parallax-container">
        <div class="parallax">
            <img src="{% static 'img/background2.jpg' %}">
        </div>
    </div>
</main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Estoque</h5>
                    <p class="grey-text text-lighten-4">Sistema modelo de gestão de estoque baseado em Python e Django</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Menu</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://www.python.org" target="_blank">Python</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://djangoproject.com" target="_blank">Django</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blank">Materializecss</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://github.com/pcego/projeto_final" target="_blank">Repositório</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Faculdades Santo Agostinho
                <a class="grey-text text-lighten-4 right"
                   href="http://github.com/pcego/projeto_final" target="_blank">Repositório</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type='text/javascript'>
            $(".button-collapse").sideNav();
            $(document).ready(function() {
                $('select').material_select();
            });
            $(document).ready(function(){
              $('.parallax').parallax();
            });
    </script>
</body>
</html>